<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/index.css" />
	<title>
		<%= subject %>
	</title>
	
</head>

<body>
    <h1>This is: <%= subject %></h1>
	<script type="module" src="../js/index.js"></script>
</body>
</html>